<header class="mat-elevation-z6" [class.fixed]="navIsFixed">
  <mat-toolbar color="primary">
    <mat-icon>home</mat-icon>
    <span>Application Title</span>

    <!-- This fills the remaining space of the current row -->
    <span class="mat-toolbar-fill"></span>

    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="add()">
        <mat-icon>add</mat-icon>Item 1
      </button>
      <button mat-menu-item>
        <mat-icon>check</mat-icon>Item 2
      </button>
    </mat-menu>
  </mat-toolbar>
</header>
<div style="height: 100px;">
  <button mat-button>Click me!</button>
</div>
<h4>Simple sortable</h4>
<div class="row">
  <div class="col-sm-3">
    <div class="panel panel-success">
      <div class="panel-heading">
        Favorite drinks
      </div>
      <div class="panel-body">
        <ul class="list-group" dnd-sortable-container [sortableData]="listOne">
          <li *ngFor="let item of listOne; let i = index" class="list-group-item" dnd-sortable [sortableIndex]="i">{{item}}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-body">
        My prefences:
        <br/>
        <span *ngFor="let item of listOne; let i = index">{{i + 1}}) {{item}}
          <br/>
        </span>
      </div>
    </div>
  </div>
</div>
<div>
  footer
</div>