<header class="mat-elevation-z6" [class.fixed]="navIsFixed">
  <mat-toolbar color="primary">
    <mat-icon>home</mat-icon>
    <span>Application Title</span>

    <!-- This fills the remaining space of the current row -->
    <span class="mat-toolbar-fill"></span>

    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="add()">
        <mat-icon>add</mat-icon>Item 1
      </button>
      <button mat-menu-item>
        <mat-icon>check</mat-icon>Item 2
      </button>
    </mat-menu>
  </mat-toolbar>
</header>
<div style="height: 900px;">
  <button mat-button>Click me!</button>
</div>
<div>
  footer
</div>